{{ define "dashboard" }}
{{ template "admin_header" . }}
{{ template "navbar" . }}
<div class="container">
	<!--- Articles section -->
	<div class="row mt-5">
		<div class="col-7">
			<h4 class="color-blue-primary font-monoid-bold">All articles</h4>
		</div>
		<div class="col-5">
			<a href="/create/article" class="btn btn-primary font-monospace float-end">Create article</a>
		</div>
	</div>
	<div id="articles" class="mt-5">
		<div hx-get="/get/articles?admin=true" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
			<h2 class="color-blue-primary font-monoid-bold">¡Oopsie Daisy!</h2>
			<h5 class="font-monospace">Looks like there are no articles to show yet :(</h5>
		</div>
	</div>
	{{ if gt .pages 1 }}
	<div class="btn-toolbar" role="toolbar">
		{{ range $i := Iterate .pages }}
		<div class="btn-group me-2" role="group">
			{{ $offset := Offset $i }}
			<button type="button" class="btn btn-primary font-monospace" hx-get="/get/articles?admin=true&offset={{ $offset }}" hx-target="#articles" hx-swap="innerHTML">
				{{ len (printf "a%*s" $i "") }}
			</button>
		</div>
		{{ end }}
	</div>
	{{ end }}

	<!--- Pages section -->
	<div class="row mt-5">
		<div class="col-7">
			<h4 class="color-blue-primary font-monoid-bold">All pages</h4>
		</div>
		<div class="col-5">
			<a href="/create/page" class="btn btn-primary font-monospace float-end">Create page</a>
		</div>
	</div>
	<div id="pages" class="mt-5">
		<div hx-get="/get/pages" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
			<h2 class="color-blue-primary font-monoid-bold">¡Oopsie Daisy!</h2>
			<h5 class="font-monospace">Looks like there are no pages to show yet :(</h5>
		</div>
	</div>
</div>
{{ template "footer" . }}
{{ end }}
