{{define "dashboard"}}
{{template "admin_header" .}}
{{template "navbar" .}}
<div class="container">
	<div class="row mt-5">
		<div class="col-7">
			<h2>All articles</h2>
		</div>
		<div class="col-5">
			<a href="/create/article" class="btn btn-success float-end">Create article</a>
		</div>
	</div>
	<div id="articles" class="mt-3">
		<div hx-get="/get/articles?admin=true" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
			<h1>No articles found</h1>
			<h4 class="text-secondary">The articles that you publish will be shown here</h4>
		</div>
	</div>
	{{if gt $.Pages 0}}
	<div class="btn-toolbar" role="toolbar">
		{{range $i := Iterate $.Pages}}
		<div class="btn-group me-2" role="group">
			{{$offset := Offset $i}}
			<button type="button" class="btn btn-success" hx-get="/get/articles?admin=true&offset={{$offset}}" hx-target="#articles" hx-swap="innerHTML">
				{{len (printf "a%*s" $i "")}}
			</button>
		</div>
		{{end}}
	</div>
	{{end}}
</div>
{{template "footer" .}}
{{end}}
