{{define "footer"}}
<div class="fixed-bottom">
	<p class="text-center">Made with <b>Go</b>, <b>HTMX</b>, <b>Postgresql</b> and &#x2665; by <a href="https://github.com/kevinsuner" class="link-success link-underline-opacity-0">Kevin Suñer</a></p>
</div>	
</body>
</html>
{{end}}
