{{define "homepage"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container">
	<div class="mt-5">
		<h4 class="color-blue-primary font-monoid-bold">Most recent articles</h4>
	</div>
	<div id="articles" class="mt-5">
		<div hx-get="/get/articles" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
			<h2 class="color-blue-primary font-monoid-bold">¡Oopsie Daisy!</h2>
			<h5 class="font-monospace">Looks like there are no articles to show yet :(</h5>
		</div>
	</div>
	{{if gt $.Pages 0}}
	<div class="btn-toolbar" role="toolbar">
		{{range $i := Iterate $.Pages}}
		<div class="btn-group me-2" role="group">
			{{$offset := Offset $i}}
			<button type="button" class="btn btn-primary font-monospace" hx-get="/get/articles?offset={{$offset}}" hx-target="#articles" hx-swap="innerHTML">
				{{len (printf "a%*s" $i "")}}
			</button>
		</div>
		{{end}}
	</div>
	{{end}}
</div>
{{template "footer" .}}
{{end}}
