{{ define "articles" }}
	{{ range .articles }}
		{{ if $.is_admin }}
		<div class="mb-4">
			<h6 class="font-monoid-regular">
				<a href="/edit/article?id={{ .ID }}" class="color-blue-primary">{{ .Title }}</a>
			</h6>
			<hr/>
		</div>
		{{ else }}
		<div class="mb-4">
			<h6 class="font-monoid-regular">
				<a href="/article/{{ .Slug }}" class="color-blue-primary">{{ .Title }}</a>
			</h6>
			<p class="font-monospace mb-2">{{ .Description }}</p>
			<span class="badge background-dark-primary font-monospace border rounded-0">
				Published on {{ .CreatedAt.String }}
			</span>
		</div>
		{{ end }}
	{{ else }}
	<h2 class="color-blue-primary font-monoid-bold">¡Oopsie Daisy!</h2>
	<h5 class="font-monospace">Looks like there are no articles to show yet :(</h5>
	{{ end }}
{{ end }}

