/* Defaults */

p {
    font-family: Monospace;
}

a {
    color: #00ADB5;
}

/* Custom Fonts */

@font-face {
    font-family: Monoid Regular;
    src: url(/static/fonts/monoid-regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Monoid Bold;
    src: url(/static/fonts/monoid-bold.ttf);
    font-weight: bold;
}

.font-monoid-regular {
    font-family: Monoid Regular;
}

.font-monoid-bold {
    font-family: Monoid Bold;
}

/* Colors */

.background-dark-primary {
    background-color: #232931;
}

.background-dark-secondary {
    background-color: #222222;
}

.color-blue-primary {
    color: #00ADB5;
}

/* Buttons */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    color: black !important;
    background-color: #00ADB5 !important;
    font-family: Monospace !important;
    border-color: #00ADB5 !important;
    border-radius: 0 !important;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    color: #00ADB5 !important;
    background-color: transparent !important;
    font-family: Monospace !important;
    border-color: #00ADB5 !important;
    border-radius: 0 !important;
}

/* Alerts */

.alert-primary {
    color: #00ADB5 !important;
    background-color: rgba(0, 173, 181, 0.1) !important;
    border-color: #00ADB5 !important;
    border-radius: 0 !important;
}

/* Lists */

.list-group-item {
    color: #00ADB5 !important;
    font-family: Monoid Regular !important;
    background-color: transparent !important;
    border-color: #00ADB5 !important;
    border-radius: 0 !important;
}
