{{ partial "header.html" . }}

<!-- Hidden on XS and SM breakpoints -->
<section class="container d-none d-xs-none d-sm-none d-md-block">
    <div class="row g-5">
        {{ range.Data.Pages.ByDate.Reverse }}
        <div class="col-4">
            <a href="{{ .Params.url }}" class="font-inter-medium link-dark link-underline-dark fs-4">
                {{ .Title }}
            </a>
            <div class="mt-2">{{ .Content }}</div>
        </div>
        {{ end }}
    </div>
</section>

<!-- Hidden on MD, LG, XL and XXL breakpoints -->
<section class="container d-block d-sm-block d-md-none">
    {{ range.Data.Pages.ByDate.Reverse }}
    <a href="{{ .Params.url }}" class="font-inter-medium link-dark link-underline-dark fs-4">
        {{ .Title }}
    </a>
    <div class="mt-2">{{ .Content }}</div>
    {{ end }}
</section>

{{ partial "footer.html" . }}
