{{ define "projects" }}
	{{ range .projects }}
		{{ if $.is_admin }}
		<div class="mb-4">
			<h6 class="font-monoid-regular">
				<a href="/edit/project?id={{ .ID }}" class="color-blue-primary">{{ .Title }}</a>
			</h6>
			<hr/>
		</div>
		{{ else }}
		<div class="mb-4">
			<h6 class="font-monoid-regular">
				<a href="{{ .Link }}" class="color-blue-primary">{{ .Title }}</a>
			</h6>
			{{ .HTML }}
			<figure class="figure text-center">
				<img src="/static/img/{{ .Image }}" class="figure-img img-fluid w-75" style="border: 16px solid white;">
				<figcaption class="figure-caption font-monospace text-secondary mt-3">{{ .Caption }}</figcaption>
			</figure>
		</div>
		{{ end }}
	{{ else }}
	<h2 class="color-blue-primary font-monoid-bold">¡Oopsie Daisy!</h2>
	<h5 class="font-monospace">Looks like there are no pages to show yet :(</h5>
	{{ end }}
{{ end }}
